    <div class="uk-flex break"></div>
    <div class="footer uk-flex">
        <div class="uk-column-1-3@m uk-colum-divider uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <img src="../img/logo-black.png" alt="black logo">
            <p>&copy; Copyright 2020 Per Se</p>
            <p>Denver, CO <span uk-icon="icon: heart"></span></p>
        </div>
    </div>
</div>
</body>

</html>