body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  height: 100%;
}

h1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 2em;
}

#index-hero {
  background-image: url('../img/hero-img.jpg');
  /* Photo by Becca Tapert on Unsplash */
  height: 125vh;
  background-size: cover;
  text-shadow: black 5px;
}

#index-hero h1 {
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 2em;
}

#sign-up {
  height: 50vh;
  background: linear-gradient(45deg, white, lightgray);
  background: -webkit-linear-gradient(45deg, white, lightgray);
}

#sign-up button {
  margin-top: 8vh;
  padding: 13px 30px;
  font-size: 2em;
  color: plum;
  border-width: 5px;
  border-radius: 10px;
}

#call-to {
  height: 100vh;
  margin-bottom: 50vh;
}

.uk-navbar-nav>li>a {
  color: black;
  font-size: 1.2em;
}

#logo {
  background-image: url(../img/logo-black.png);
  min-width: 40vw;
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
}

.uk-navbar-container {
  min-height: 10vh;
}

.footer {
  margin: 15vh auto 0;
  padding-bottom: 1vh;
  padding-top: 1vh;
  font-size: 1.2em;
  background-color: plum;
  color: white;
  bottom: 0;
  width: 100%;
  position: relative;
}

.footer img {
  height: 4vh;
}

#container {
  height: 100%;
}

#create-hero {
  background-image: url(../img/create-hero.jpg);
  height: 75vh;
  background-size: cover;
  color: plum;
}

#create-hero h1 {
  font-size: 4em;
  color: plum;
}

form {
  font-size: 1.6em;
}

form>textarea {
  margin: 7vh auto;
}

.uk-navbar-dropdown-nav>li>a {
  font-size: 1.2em;
}

.uk-navbar-dropdown-nav .uk-nav-header {
  font-size: 1.5em;
  font-weight: bold;
}

#myRecipe-hero {
  background-image: url(../img/myRecipeHero.jpg);
  height: 75vh;
  background-size: cover;
}

#myRecipe-hero h1 {
  font-size: 4em;
  color: plum;
}

.break {
  height: 15vh;
}

#show-hero {
  background-image: url(../img/show-hero.jpg);
  /* Photo by Edgar Castrejon on Unsplash */
  height: 75vh;
  background-size: cover;
}

#show-hero h1 {
  font-size: 4em;
  color: plum;
}

article>p,
li {
  font-size: 2em;
}

article {
  align-content: center;
}

article img {

  max-width: 100vw;
}

.bold {
  font-weight: bold;
}

#update-hero {
  /* Photo by Gareth Hubbard on Unsplash */
  background-image: url(../img/update-hero.jpg);
  height: 75vh;
  background-size: cover;
}

#update-hero {
  font-size: 4em;
  color: plum;
}

.uk-button-primary {
  background-color: plum;
}

#allRecipe-hero {
  /* Photo by Creatv Eight on Unsplash */
  background-image: url(../img/allrecipes-hero.jpg);
  height: 75vh;
  background-size: cover;
}

#allRecipe-hero {
  font-size: 4em;
  color: plum;
}
#categories-hero {
  /* Photo by Micheile Henderson on Unsplash */
  background-image: url(../img/categories-hero.jpg);
  height: 75vh;
  background-size: cover;
}

#categories-hero {
  font-size: 4em;
  color: plum;
}
#categoriesShow-hero {
  /* Photo by Charles-Adrien Fournier on Unsplash */
  background-image: url(../img/categoriesShow-hero.jpg);
  height: 75vh;
  background-size: cover;
}

#categoriesShow-hero {
  font-size: 4em;
  color: plum;
}
.uk-link, a {
  color: plum;
}

@media (max-width: 959px) {
  div.footer {
    display: none;
  }
}

