<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>

</head>

<body>
  <div class="uk-position-relative">

    <nav class="uk-navbar-container" uk-navbar="dropbar: true">

      <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
          <li>
            <a id="logo" href=""></a>
          </li>
      </div>

      <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
          <li>
            <a href="#">Explore</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Create a New Recipe</a></li>
                <li class="uk-nav-header">Explore</li>
                <li><a href="/">HOME</a></li>
                <li><a href="/recipes/categories">Categories</a></li>
                <li class="uk-nav-divider"></li>
                <% if (user) { %>
                <li><a href="#">Logged in as <%= user.name %></a></li>
                <li><a href="/recipes/myrecipes">My Recipes</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/google"></a>Log In</li>
                <% } %>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </nav>

    <div class="uk-navbar-dropbar"></div>

  </div>
  <div id="create-hero" class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top"
    uk-parallax="bgy: -200">

    <h1 class="uk-width-1-1@s uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="y: 100,0">Create a
      New Recipe to Share!</h1>

  </div>
  <div class="uk-flex break"></div>
  <form action="/recipes/add" method="POST" autocomplete="off">
    <input class="uk-input" type="text" name="name" placeholder="Recipe Name"> <br>
    <input class="uk-input" type="text" name="imgUrl" placeholder="Image Url"> <br>
    <input class="uk-input" type="text" name="description" placeholder="Short Description"> <br>
    <label for="ingredients">All recipe ingredients here (Please use commas to seperate ingredients):</label> <br>
    <textarea class="uk-textarea" name="ingredients" id="ingredients" cols="30" rows="10"></textarea><br>
    <label for="directions">All recipe steps go here (Please use periods to seperate recipe steps):</label> <br>
    <textarea class="uk-textarea" name="directions" id="directions" cols="30" rows="10"></textarea><br>
    <select class="uk-select" name="category">
      <% categories.forEach(function(c) { %>
      <option><%= c.category %></option>
      <%   }) %>
    </select>
    <input class="uk-input" type="submit" value="CREATE">
  </form>
  <div class="uk-flex break"></div>
  <%- include('../partials/_footer') %>